body.login {
    background-color: #081C16;
  }

.wp-core-ui .button-primary {
    background: #86d300;
    border: none;
}
  
.wp-core-ui .button-primary:hover {
    background: #6eae00;
    border: none;
}
  
.login #nav a, .login #backtoblog a {
    color: #fff;
}

.login #nav a, .login #backtoblog a:hover {
    color: #6eae00 !important;
}