.about-wrap h1 {
  font-weight: 500;
  color: #2c2c2c;
}

.about-wrap h3 {
  font-size: 28px;
  margin-bottom: 5px !important;
}

.about-wrap p {
  margin-top: 0 !important;
  margin-bottom: 30px !important;
  font-size: 20px;
  color: #2c2c2c;
  font-weight: 300;
}

.contact__block {
  display: flex;
  padding: 25px 25px;
  background-color: #fff;
  border-radius: 10px;
  max-width: 400px;
  align-items: center;
  box-shadow: 3px 5px 20px 0px #dfdfdf;
  gap: 30px;
}

.contact__block__right {
  display: flex;
  flex-wrap: wrap;
}

.contact__block a {
  width: 100%;
  line-height: 1.4rem;
}

.contact__block span {
  width: 100%;
  line-height: 1.4rem;
}

.contact__block b {
  width: 100%;
  font-size: 18px;
  margin-bottom: 0px;
  line-height: 1.4rem;
}

.contact__block__left img {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border: 5px solid #eee;
}

.phone {
  text-decoration: none;
  color: #000;
}

.video__container {
  width: 100%;
  box-sizing: border-box;
  padding: 25px 40px 0 20px;
  margin-top: 40px;
  color: #2c2c2c;
}

.video__container h4 {
  font-size: 28px;
  margin-bottom: 0;
}

.video__container h5 {
  font-size: 20px;
  color: #2c2c2c;
  margin-top: 20px;
  font-weight: 300;
  margin-bottom: 10px;
}

.video__container p {
  font-size: 14px;
  color: #2c2c2c;
  margin-bottom: 20px;
  font-weight: 300;
}

.video__container__wrapper {
  display: flex;
  gap: 30px;
}

.video__block {
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 5px solid #fff;
  box-shadow: 3px 5px 20px 0px #dfdfdf;
}

.video__block p {
  font-size: 18px;
  font-weight: 700;
  color: #2c2c2c;
}
